@import "variables";
header{
  background: #0B002B;
  color: white;
  overflow:auto;
  padding: 20px 15px;

  .logo{
    float: left;
  }
  nav{
    float: right;
    a{
      color:white;
      text-decoration: none;
      padding: 7px  25px;
      text-transform: capitalize;
      font-weight: 300;
      font-size: .9rem;

      &:hover{color:#FF758B;
      }

      &.register-btn{
      background: $pink;
      padding: 7px  25px;
      color: white;
      border-radius: 5px;
      }
    }
  }
}
